---
import { type SchemaMeta } from './integration';

type Props = {
	blocks?: SchemaMeta[];
	callback?: (data: SchemaMeta, i: number) => void;
};

const { blocks, callback } = Astro.props;
const components = (await import('virtual:astro-frontmatter-cms')).default;
---

{
	blocks?.map(async (props, i) => {
		if (callback) callback(props, i);
		const Component = components[props.type];

		if (Component == null) {
			return <div>Unable to resolve frontmatter component</div>;
		} else {
			return <Component {...props} />;
		}
	})
}
